@media all and (max-width: 1000px) {
    .about {
        width: 50%;
        margin-bottom: 50px;
    }
    .content {
      width: 50%;
      margin-bottom: 20px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .contents {
      display: none;
    }
    .content_about {
      display: none;
    }
  }