* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
  }
  
  a {
    text-decoration: none;
  }
  

  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=EB+Garamond:ital@1&family=Joan&display=swap');

  /* .clear {
    clear: left;
  }*/
  
  .container {
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    position: relative;
  }

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
    text-align: center;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: #023047;
    position :fixed;
    top: 0;
    z-index: 10;
  }
  
  /*.logo {
    width: 50px;
    margin-top: 7px;
  }*/

  .logo {
    font-size: 30px;
    font-weight: normal;
    float: left;
    font-family: fantasy;
    color:aliceblue;
    margin-top: 7px;
  }
  
  .header-left {
    float: left;
  }
  
  .header-right {
    float: right;
    margin-right: -25px;
  }
  
  .header-right a {
    font-size: garamond;
    color: white;
    line-height: 65px;
    padding: 0 25px;
    display: block;
    float: left;
    transition: all 0.5s;
  }
  
  .header-right a:hover {
    background-color: #1e6091;
  } */
  
/* main */
.about {
  margin-bottom: 20px;
  padding-left: 90px;
  height: 800px;
  background-color: #95d5b2;
  float: left;
}
.text_about {
  border-bottom: 2px solid black;
  font-size: 40px;
  float: left;
}
.text {
  color: #686666;
  font-size: 20pt;
  float: left;
  font-family: 'Edu NSW ACT Foundation', cursive;
}
h1{
  margin-bottom: -10px;
}
.text_about span {
  color: blueviolet
}
.read_more {
  width: 20%;
	float: left;
	background-color: #fa3e19;
	height: 50px;
	font-size: 16pt;
	border: 0px;
  color: #fff;
}
.read_more:hover {
  color: black
}
.content {
  align-items: center;
  margin: 40px 90px;
  padding-left: 20px;
  height: 800px;
  background-color: white;
}
.content h2 {
  font-size: 40pt;
  border-bottom: 3px solid black;
  font-family: 'Dancing Script';
}
span {
  color:red;
}
.container {
  margin-top: 40px;
}
.contents {
  float: left;
  margin-right: 40px;
  margin: 10px;
}
.contents img {
  border: 2px solid orange;
}
.con_text a {
color: rgba(235,161,88,255);
margin-top: 20px;
}
.con_text h3 {
  text-align: center;
  font-size: 24px;
  color: black;
}
.con_text h3:hover{
  color: brown;
}



